<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotipple - Dashboard</title>
    <!--    <link rel="stylesheet" href="./css/home.css" type="text/css">-->
</head>
<body>
<h1 th:text="Welcome " +></h1>
<button th:onclick="getPlaylist()">Get playlists</button>

<script th:inline="javascript">



const getPlaylist = () => {
        fetch("http://localhost:8080/playlists")
        .then(response => {

            if (response != null || response != "undefined" ){
                console.log(response.json());
                console.log("playlists obtained");
                }
})

    }





<!--userLoginBtn.addEventListener('click', getSpotifyUserLogin);-->



</script>
</body>
</html>