<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

</head>
<body>

<!-- ////////////////////////////////////////////////////////////////////////////////////////
                               START SECTION 1 - THE NAVBAR SECTION  
/////////////////////////////////////////////////////////////////////////////////////////////-->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark menu shadow fixed-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/home}">
                <h1>SpoDeezy</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/home}">HOME</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/feature-request}">FEATURE REQUEST</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/guide}">HOW-TO GUIDE</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/login}">LOG IN</a></li>
                </ul>

            </div>
        </div>
    </nav>
</header>