<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpoDeezy</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
</head>
<body>

<!-- ////////////////////////////////////////////////////////////////////////////////////////
                               START SECTION 1 - THE NAVBAR SECTION  
/////////////////////////////////////////////////////////////////////////////////////////////-->
<div th:replace="header :: header"></div>

<section id="home" class="intro-section">
    <div class="container">
        <div class="row align-items-center text-white">
            <!-- START THE CONTENT FOR THE INTRO  -->
            <div class="col-md-6 intros text-start">
                <h1 class="display-2">
                    <span class="display-2--intro">SpoDeezy</span>
                    <span class="display-2--description lh-base">
            Back-up and sync your Spotify playlist with Deezer
          </span>
                </h1>
                <button type="button" class="rounded-pill btn-rounded"><a class="nav-link"
                                                                          th:href="@{/public/register}">Sign Up</a>
                    <span><i class="fas fa-arrow-right"></i></span>
                </button>
            </div>
            <!-- START THE CONTENT FOR THE VIDEO -->
            <div class="col-md-6 intros text-end">
                <div class="video-box">
                    <img src="assets/images/undraw.svg" alt="undraw illustration" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1"
              d="M0,160L48,176C96,192,192,224,288,208C384,192,480,128,576,133.3C672,139,768,213,864,202.7C960,192,1056,96,1152,74.7C1248,53,1344,107,1392,133.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
</section>


<footer class="footer">

    <div class="footer-bottom pt-5 pb-5">
        <div class="container">
            <div class="row text-center text-white">
                <div class="col-12">
                    <div class="footer-bottom__copyright">
                        &COPY; Copyright 2022 | Created by <a href="#" target="_blank">FP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>