<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpoDeezy</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
</head>
<body>


<div class="container d-flex justify-content-center align-content-lg-center">
    <h1 th:text="Welcome "></h1>
    <button th:onclick="loginWithSpotify()">Get Spotify Playlists</button>
</div>

<script th:inline="javascript">


const getPlaylist = () => {
        fetch("http://localhost:8080")
     .then((response) => response.text())
        .then(response => {
        window.location.replace(response);
})

    }


    const loginWithDeezer = () => {
        fetch("http://localhost:8080/deezer/login")
     .then((response) => response.text())
        .then(response => {
        window.location.replace(response);
})

    }

    const loginWithSpotify = () => {
        fetch("http://localhost:8080/spotify/login")
        .then((response) => response.text())
        .then(response => {
        window.location.replace(response);
        })
    }





<!--userLoginBtn.addEventListener('click', getSpotifyUserLogin);-->





</script>

</body>
</html>